@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to ReportTA</h1>
    <p>Calculate your taxes easily with our tax calculator.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Tax" asp-action="Calculate">Go to Tax Calculatorl</a>
    @* <a class="btn btn-primary" asp-controller="Tax" asp-action="CalculateTax">Go to Tax Calculator</a> *@
</div>
